
*.iml
*.class
tests/.idea/.name
tests/.idea/compiler.xml
tests/.idea/encodings.xml
tests/.idea/misc.xml
tests/.idea/uiDesigner.xml
tests/.idea/workspace.xml
tests/target/classes/beans.xml
tests/target/classes/beans1.xml
tests/target/classes/spring/activemq.xml
tests/target/classes/tests/.idea/dataSources.local.xml
tests/.idea/dataSources.xml
tests/.idea/dataSources/71ac948a-b0ce-4981-8f19-d8bf71cbada0.xml
tests/.idea/dataSources/71ac948a-b0ce-4981-8f19-d8bf71cbada0/storage_v2/_src_/database/shop_test.O4ybgg.meta
tests/.idea/dataSources/71ac948a-b0ce-4981-8f19-d8bf71cbada0/storage_v2/_src_/database/shop_test.O4ybgg/schema/public.abK9xQ.meta
tests/lib/QRCode.jar
tests/lib/spring-data-jpa-1.3.3.jar
